* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #1f1f1f;

    color: #ffffff;
}



.wrapper {
    width: 100%;
    height: calc(100vh - 78px);
    display: flex;

}



.content{
    flex-grow: 1;

}

button {
    cursor: pointer;
    outline: none;
}

ul{
    list-style-type: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, .3);
    visibility: hidden;

    &--open{
        visibility: visible;
    }
}

.icon{
    width: 9px;
    height: 9px;
    fill: #fff;
}

.link-item{
    &--active{
        background-color: #1ab877;
    }
}

