body{
	margin: 0;
}
*{

	box-sizing: border-box;
}
p{
	margin-left: 10px;
}
h2, h1, h3{
	margin-left: 10px;
}

img{
	margin-left: 10px;
}

.container{
	
	display: flex;
	height: 400px;
	background-image: url(../images/smoke.png);
	background-size: cover;	
	justify-content: space-around;
	align-items: center;
	
}

.card{

	perspective: 1000px;
	transform-style: preserve-3d;
}

.card-item{
	
	width: 200px;
	height: 250px;
	transition: transform 0.2s;

}

.tor{
	background-image: url(../images/tor.jpg);
	background-size: cover;	
}

.cap{
	background-image: url(../images/cap.jpg);
	background-size: cover;	
}

.ironman{
	background-image: url(../images/ironman.jpg);
	background-size: cover;	
}
