<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Layout</h1>
    <h3>Создание</h3>
    <p>В компонентах создаем обыкновенный компонент. В качестве пропсов получаем <b>children</b> и передаем их в блок main</p>
    <img src="./img1.jpg" alt="">
    <h3>Использование</h3>
    <img src="./img2.jpg" alt="">
    <p>Если нам надо в Layout передавать какие-то пропсы, то просто передаем их как обычно.</p>
</body>
</html>