.container{
    width: 50%;
    background: rgb(202, 236, 255);
    padding: 30px 20px;
}

.list{
    list-style-type: none;
    padding: 0;
}


.list__item{
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
}

.list__link{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.text{
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
   margin-top: 20px;
    background: rgb(221, 220, 220);
    display: inline-block;
    width: 200px;
    padding: 20px;
}

.wrapper{
    width: 30%;
    height: 250px;
    background-color: rgb(155, 248, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.txt{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px;
}

.btn_tagName{
    padding: 10px 20px;
}

.wrapper2{
    width: 30%;
    background-color: rgb(155, 248, 255);
    padding: 20px;

}
.list2{
    list-style-type: none;
    padding: 0;
}
.item2{
    margin: 20px;
    background: rgb(145, 144, 144);

}