<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <span id="example" class="code">some code</span>
    <script>
        const elem = document.getElementById('example')

        const text = elem.textContent
        elem.addEventListener('click', () => {
            navigator.clipboard.writeText(elem.textContent)
            elem.classList.add('code__active')

            setTimeout(() => {
                elem.classList.remove('code__active')
            }, 2000)
        })
    </script>

</body>

</html>