*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #ffffff;
    font-size: 18px;

}

b{
    background: rgb(65, 64, 64);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
}

h2{
    background: rgb(65, 64, 64);
    color: #fff;
    padding: 5px 10px;
}

button{
    cursor: pointer;
}
p{
    line-height: 1.4;
}

li{
    margin-bottom: 10px;
    line-height: 1.4;

}

@media (max-width: 720px){
    video{
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
        padding: 5px;
    }

    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
        
    }

    p {
        line-height: 14px;
        font-size: 12px;
    }

    img{
        max-width: 100%;
    }
}