

.block{
    width: 100px;
    height: 100px;
    background: tomato;
    border-radius: 4px;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(360px) rotate(360deg);
    }
    100% {
        transform: translateX(0px) rotate(0);
    }
}


