.parent {
    max-width: 1204px;
    margin: auto;
    height: 400px;
    background: #03882b;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.child{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(./ball.png) center / cover no-repeat;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
}
.code{
    max-width: 800px;
}

.left{
    position: absolute;
    border: 8px solid #fff;
    border-left: transparent;
    left: 0;
    width: 200px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);
}

.left:before{
    content: '';
    position: absolute;
    width: 40%;
    height: 50%;
    border: 8px solid #fff;
    border-left: transparent;
    top: 50%;
    transform: translateY(-50%);
}
.center{
    position: absolute;
    width: 8px;
    height: 100%;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
}

.center:before{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 8px solid #fff;
    transform: translate(-50%, -50%);

}

.right{
    position: absolute;
    border: 8px solid #fff;
    border-right: transparent;
    right: 0;
    width: 200px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);

}
.right:before{
    content: '';
    position: absolute;
    width: 40%;
    height: 50%;
    border: 8px solid #fff;
    border-right: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.container{
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #eeecec;
    border: 1px solid #000;
    border-radius: 5px;
}
.tasks__list{
    list-style-type: none;
    max-width: 400px;
}

.tasks__item{
    background: #b1b0b0;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    cursor: move;
}

.tasks__item:hover{
    opacity: .8;
}

.selected{
    opacity: .4;
    background: red;
}


