.section {
    width: 1000px;
    margin: 20px auto;
}

.acardeon__wrapper {
    border: 1px solid black;
    border-radius: 5px;
}

.acerdeon__header {
    padding: 10px 0;
    text-align: center;
    background: #616060;
    font-family: sans-serif;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
}

.acardeon__body {
    background: #d4d3d3;
}

.acardeon__content {
    padding: 10px 20px;
    font-family: sans-serif;
}

.img_js {
    width: 700px;
    margin: 0 auto;
    display: block;
}

.img_all {
    width: 500px;
    margin: 0 auto;
    display: block;
}

h2 {
    margin: 30px auto;
    text-align: center;

}



/* ----------------------------------------------------------------------- */
.second-acardeon{
    width: 1000px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
}

.second-acardeon__title{
    padding: 10px 0;
    text-align: center;
    background: #616060;
    font-family: sans-serif;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
}

.second-acardeon__wrapper{
    background: #d4d3d3;
    padding: 10px 20px;
    font-family: sans-serif;
}
.second-acardeon__body{
    transition: 1s;
    overflow: hidden;
    height: 0px;
}

