*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #ffffff;
    font-size: 18px;

}

b{
    background: rgb(65, 64, 64);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
}
h1{
    background: rgb(65, 64, 64);
    color: #fff;
    padding: 10px;
}

h2{
    background: rgb(65, 64, 64);
    color: #fff;
    padding: 5px 10px;
}

button{
    cursor: pointer;
}
p{
    line-height: 1.4;
}

li{
    margin-bottom: 10px;
    line-height: 1.4;

}

.num{
    width: 40px;
    height: 40px;
    border: 3px solid rgb(70, 68, 68);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: rgb(39, 97, 1);
}

.red{
    font-weight: bold;
    color: red;
}

.red:after{
    content: '!!!';
}

.code{
    padding: 10px 20px;
    color: #fff;
    background: #000;
    border-radius: 5px;
}

img{
    border: 2px solid #676565;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    max-width: 80%;
}

.cp{
    cursor: pointer;
}


@media (max-width: 720px){
    video{
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
        padding: 5px;
    }

    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
        
    }

    p {
        line-height: 14px;
        font-size: 12px;
    }

    img{
        max-width: 100%;
    }
}